  <spacer size="20"></spacer>
    </columns>
  </row>

  <row class="menuwrapper">
    <columns>
      <spacer size="5"></spacer>
      <center>
        <menu class="small-vertical ">
          <item href="http://zurb.com">Shop</item>
          <item href="http://zurb.com">Freunde werben</item>
          <item href="http://zurb.com">Facebook</item>
          <item href="http://zurb.com">Instagram</item>
          <item href="http://zurb.com">AGB</item>
        </menu>
      </center>
      <spacer size="5"></spacer>
    </columns>
  </row>
  <spacer size="40"></spacer>
  <row class="footer text-center">
    <columns>
      <row>
        <columns>
          <p class="text-center">
            COEXIST UG haftungbeschränkt<br>
            Pappelallee 78/79<br>
            D-10437 Berlin<br>
            store@humanblood.de<br>
            Amtsgericht Berlin (Charlottenburg) HRB 171421<br>
            Geschäftsführer: Benjamin Hartmann<br>
            UST-ID: DE302070383
          </p>
        </columns>
      </row>
    </columns>
  </row>
</container>
