<style type="text/css">
  body,
  html,
  .body {
    background: #ffffff !important;
  }
</style>

<container>

  <spacer size="16"></spacer>
  <row>
    <columns class="text-center">
      <center>
        <spacer size="16"></spacer>
            <img src="https://humanblood.de/media/image/3e/5b/f6/Logo-HumanBlood-klein-webseite-icon.png" alt="">
        <spacer size="16"></spacer>
      </center>
    </columns>
  </row>
  <row class="menuwrapper show-for-large">
    <columns>
      <spacer size="5"></spacer>
      <center>
        <menu class="small-vertical ">
          <item href="https://humanblood.de/?utm_source=Shop&utm_medium=Email&utm_campaign=Bestellmails&utm_content=Header_Nav">Shop</item>
          <item href="https://humanblood.de/newsletter?utm_source=Shop&utm_medium=Email&utm_campaign=Bestellmails&utm_content=Header_Nav">Newsletter</item>
          <item href="https://www.facebook.com/HUMANBLOOD/">Facebook</item>
          <item href="https://www.instagram.com/HUMANBLOOD/">Instagram</item>
          <item href="https://humanblood.de/agb?utm_source=Shop&utm_medium=Email&utm_campaign=Bestellmails&utm_content=Header_Nav">AGB</item>
        </menu>
      </center>
      <spacer size="5"></spacer>
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns>
