<style type="text/css">
  body,
  html,
  .body {
    background: #ffffff !important;
  }
</style>

<container>

  <spacer size="16"></spacer>
  <row>
    <columns class="text-center">
      <center>
        <spacer size="16"></spacer>
            <img src="https://crewdeparis.de/media/image/09/4d/ec/crew-de-paris-mail-logo.png" alt="">
        <spacer size="16"></spacer>
      </center>
    </columns>
  </row>
  <row class="menuwrapper show-for-large">
    <columns>
      <spacer size="5"></spacer>
      <center>
        <menu class="small-vertical ">
          <item href="https://crewdeparis.de/?utm_source=Shop&utm_medium=Email&utm_campaign=Bestellmails&utm_content=Header_Nav">Shop</item>
          <item href="https://crewdeparis.de/newsletter?utm_source=Shop&utm_medium=Email&utm_campaign=Bestellmails&utm_content=Header_Nav">Newsletter</item>
          <item href="https://www.facebook.com/crewdeparis/">Facebook</item>
          <item href="https://www.instagram.com/CREWDEPARIS/">Instagram</item>
          <item href="https://crewdeparis.de/agb?utm_source=Shop&utm_medium=Email&utm_campaign=Bestellmails&utm_content=Header_Nav">AGB</item>
        </menu>
      </center>
      <spacer size="5"></spacer>
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns>
