<style type="text/css">
  body,
  html,
  .body {
    background: #ffffff !important;
  }
</style>

<container>

  <spacer size="16"></spacer>
  <row>
    <columns class="text-center">
      <center>
        <spacer size="16"></spacer>
        <img src="https://local/email/humanblood-mailtemplate/src/assets/img/humanblood-logo.png" alt="">
        <spacer size="16"></spacer>
      </center>
    </columns>
  </row>
  <row class="menuwrapper show-for-large">
    <columns>
      <spacer size="5"></spacer>
      <center>
        <menu class="small-vertical ">
          <item href="http://zurb.com">Shop</item>
          <item href="http://zurb.com">Freunde werben</item>
          <item href="http://zurb.com">Facebook</item>
          <item href="http://zurb.com">Instagram</item>
          <item href="http://zurb.com">AGB</item>
        </menu>
      </center>
      <spacer size="5"></spacer>
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns>
